<footer>
  <div class="container">
    <div class="footerRequisites">
      <div class="logo">
        <%=image_tag 'logo_footer.svg', alt: 'СолидВуд - Производитель пиломатериалов' %>
      </div>
      <div class="address">
        <p>
          <%= raw(setting.address).html_safe %>
        </p>
        <span class="button-modal" data-target="map">Показать на карте</span>
        <span class="button-modal" data-target="about">О нас</span>
      </div>
    </div>
    <div class="footerContacts">
      <%= link_to setting.phone, "tel:#{setting.phone.delete(' ')}", class: 'phone' %>
      <% if setting.second_phone.present? %>
        <%= link_to setting.second_phone, "tel:#{setting.second_phone.delete(' ')}", class: 'phone' %>
      <% end %>
      <%= link_to setting.email, "mailto:#{setting.email}", class: 'email' %>
    </div>
  </div>
</footer>