<header class="<%= current_page?(root_path) ? 'header' : 'header withBg' %>">
  <div class="container">
    <div>
      <%= link_to root_path do %>
        <%= image_tag "logo_header.svg", class: "" %>
      <% end %>
    </div>
    <div>
      <div class="headerContacts">
        <%= link_to '+375 29 267 08 78', 'tel:+375292670878' %>
        <button>Заказать звонок</button>
        <div class="basketContainer"><%= render 'layouts/cart_text' %></div>
      </div>
      <nav class="headerNav">
        <ul class="headerNavMenu">
          <li class="headerNavMenuItem"><%= link_to "О нас", '/about' %></li>
          <li class="headerNavMenuItem"><%= link_to "Каталог", catalog_index_path %></li>
          <li class="headerNavMenuItem"><%= link_to "Калькулятор объемов", '/calculator' %></li>
          <li class="headerNavMenuItem"><%= link_to "Новости", news_index_path %></li>
          <li class="headerNavMenuItem"><%= link_to "Доставка и оплата", '/delivery' %></li>
        </ul>
      </nav>
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</header>