<header class="<%= current_page?(root_path) ? 'header' : 'header withBg' %>">
  <div class="container">
    <div>
      <%= link_to root_path do %>
        <%= image_tag "logo_header.svg", class: "logo", alt: "СолидВуд" %>
      <% end %>
    </div>
    <div>
      <div class="headerContacts">
        <%= link_to setting.phone, "tel:#{setting.phone.delete(' ')}", class: 'phone' %>
        <% if setting.second_phone.present? %>
          <%= link_to setting.second_phone, "tel:#{setting.second_phone.delete(' ')}", class: 'phone' %>
        <% end %>
        <button class="button-modal" data-target="callback">Заказать звонок</button>
        <div class="basketContainer"><%= render 'layouts/cart_text' %></div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <nav class="headerNav">
        <ul class="headerNavMenu">
          <li class="headerNavMenuItem">
            <%= link_to "Каталог", '/catalog/product' %>
            <div class="dropdownMenu">
              <ul class="dropdownMenuList">
                <% product_types.each do |product| %>
                  <li><%= link_to product.name, product_path(product) %></li>
                <% end %>
              </ul>
            </div>
          </li>
          <li class="headerNavMenuItem"><%= link_to "Услуги", '/catalog/service' %></li>
          <li class="headerNavMenuItem">
            <%= link_to "Прайс-лист", rails_blob_path(setting.pricelist, disposition: 'attachment') %>
          </li>
          <li class="headerNavMenuItem"><%= link_to "Калькулятор объемов", '/calculator' %></li>
          <li class="headerNavMenuItem"><%= link_to "Новости", news_index_path %></li>
          <li class="headerNavMenuItem"><%= link_to "Доставка и оплата", '/delivery' %></li>
          <li class="headerNavMenuItem"><%= link_to "Контакты", '/contacts' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="sidebar hidden">
  <nav class="sidebarNav">
    <ul class="sidebarNavMenu">
      <li class="sidebarNavMenuItem"><%= link_to "Каталог", '/catalog/product' %></li>
      <li class="sidebarNavMenuItem"><%= link_to "Услуги", '/catalog/service' %></li>
      <li class="sidebarNavMenuItem">
        <%= link_to "Прайс-лист", rails_blob_path(setting.pricelist, disposition: 'attachment') %>
      </li>
      <li class="sidebarNavMenuItem"><%= link_to "Калькулятор объемов", '/calculator' %></li>
      <li class="sidebarNavMenuItem"><%= link_to "Новости", news_index_path %></li>
      <li class="sidebarNavMenuItem"><%= link_to "Доставка и оплата", '/delivery' %></li>
      <li class="sidebarNavMenuItem"><%= link_to "Контакты", '/contacts' %></li>
    </ul>
  </nav>
</div>