<table class="table is-fullwidth productTable">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Сорт</th>
    <th>Длина</th>
    <th>Ед. измерения</th>
    <th>Материал</th>
    <th>Стоимость</th>
    <th>Количество</th>
  </tr>
  </thead>
  <tbody>
  <% products.each do |prod| %>
    <tr>
      <td>
        <%= prod.name %> <%= prod.properties.select { |prop| prop.name === 'Сечение' }.first.value %>
      </td>
      <td>
        <%= prod.properties.select { |prop| prop.name === 'Сорт' }.first.value %>
      </td>
      <td>
        <%= prod.properties.select { |prop| prop.name === 'Длина' }.first.value %>
      </td>
      <td>
        <%= prod.properties.select { |prop| prop.name === 'Ед. измерения' }.first.value %>
      </td>
      <td>
        <%= prod.properties.select { |prop| prop.name === 'Материал' }.present? ? prod.properties.select { |prop| prop.name === 'Материал' }.first.value  : '' %>
      </td>
      <td>
        <%= number_to_currency prod.price, locale: :by %>
      </td>
      <td>
        <%= form_for order_item, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: prod.id %>
          <div class="productTableCart">
            <div class="quantity horiz">
              <button type="button"></button>
              <%= f.number_field :quantity, min: 1, max: 1000 %>
              <button type="button"></button>
            </div>
            <%= f.submit "В корзину", class: "button button-card add-to-cart" %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>