<table class="table is-fullwidth productTable">
  <thead>
  <tr>
    <% products.first.properties.order(:name).each do |prop| %>
      <th> <%= prop.name %></th>
    <% end %>
    <th>Стоимость</th>
    <th>Количество</th>
  </tr>
  </thead>
  <tbody>
  <% products.each do |prod| %>
    <tr>
      <% prod.properties.order(:name).each do |property| %>
        <td><%= property.value %></td>
      <% end %>
      <td>
        <%= number_to_currency prod.price, locale: :by %>
      </td>
      <td>

        <%= form_for order_item, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: prod.id %>
          <div class="productTableCart">
            <div class="quantity horiz">
              <button type="button"></button>
              <%= f.number_field :quantity, min: 1, max: 1000 %>
              <button type="button"></button>
            </div>
            <%#= f.number_field :quantity, value: 1, min: 1 %>
            <%= f.submit "В корзину", class: "button button-card" %>
          </div>
        <% end %>

      </td>
    </tr>

  <% end %>
  </tbody>
</table>