<% title @page.title %>
<% description @page.description %>

<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-spaced">
        Пиломатериалы от производителя
      </h1>
      <h2 class="subtitle is-4">
        Деревянный брус от производителя от 195 руб./куб.м с доставкой по Беларуси. Оптом и в розницу. Закажи сейчас и получи скидку!
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <% @news.each do |news| %>
        <%= render 'news/preview_block', news: news %>
      <% end %>
      <%=link_to 'Все новости', news_index_path, class: 'button-link' %>
      <br>
    </div>
    <div class="tile is-vertical is-parent is-bordered">
      <div class="tile is-child box">
        <p>
          В каталоге Вы можете ознакомиться с ассортиментом и ценами на нашу продукцию и услуги.
        </p>
        <br>
        <%= link_to 'Перейти в каталог', '/catalog/product', class: 'button green' %>
        <br>
      </div>
      <div class="tile is-child box">
          <%= raw(@page.body) %>
        <br>
      </div>
    </div>
  </div>
</div>

<hr>
<br>
<div class="container" id="advantages">
  <h2 class="title is-3 has-text-centered">Наши преимущества</h2>
  <div class="columns is-multiline">
    <div class="column is-one-quarter">
      <div class="advantage">
        <%= image_tag 'advantages/factory.svg', class: 'advantageIcon' %>
        <p>Мы не покупаем наши пиломатериалы. Мы их производим!</p>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="advantage">
        <%= image_tag 'advantages/wallet.svg', class: 'advantageIcon' %>
        <p>Собственное производство позволяет нам предложить цены до 15% ниже, чем у агентов.</p>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="advantage">
        <%= image_tag 'advantages/discount.svg', class: 'advantageIcon' %>
        <p>Благодаря собственному производству и отсутствию посредников мы можем предложить покупателям скидку до 10%.</p>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="advantage">
        <%= image_tag 'advantages/delivery-truck.svg', class: 'advantageIcon' %>
        <p>В зависимости от объема заказа и конечного пункта, доставка может быть за наш счет!</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container" id="catalog">
  <h2 class="title is-3 has-text-centered">Каталог пиломатериалов</h2>
  <div class="columns is-multiline">
    <% product_types.each do |product| %>
      <div class="column is-one-third">
        <%= render "products/product_card", product: product %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column">
      <%= raw(setting.about_lumber_content) %>
    </div>
  </div>
</div>

<br>
<hr>
<br>

<div class="container">
  <h2 class="title is-3 has-text-centered">Сфера применения</h2>
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth has-text-centered">
      <%= raw(setting.application_scope_content) %>
    </div>

  </div>
</div>

<br>
<hr>
<br>

<div class="container">
  <h2 class="title is-3 has-text-centered">Продукция компании «СолидВуд»</h2>
  <div class="columns">
    <div class="column is-10 is-offset-1 has-text-centered">
      <%= raw(setting.our_products_content) %>
    </div>
  </div>
</div>

<br>



