<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Новости</h1>
</div>
<hr />
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <div class="newsList">
        <% @news.each do |news| %>
          <%= link_to news, class: 'newsListPreview' do %>
            <% if news.banner.attached? %>
              <div class="banner">
                <%= news.banner %>
              </div>
            <% end %>

            <div>
              <div>
                <span class="<%= news.news_type === 'Акция' ? 'type red' : 'type' %>"> <%= news.news_type %></span>
                <span class="published"><%= news.published_at.strftime('%d.%m.%Y') %></span>
              </div>
              <h2><%= news.title %></h2>
              <%#= raw(news.body) %>
              <%#= news.published_at.strftime('%d.%m.%Y') %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="column">
      banners
    </div>
  </div>

</div>
<br>
