<% description @page.description %>
<% title @page.title %>

<p id="notice"><%= notice %></p>

<div class="container">
  <br />
  <br />
  <h1 class="title">Новости</h1>
</div>
<hr />
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <div class="newsList">
        <% @news.each do |news| %>
          <%= link_to news, class: 'newsListPreview' do %>
            <% if news.banner.attached? %>
              <div class="newsListPreviewImage" style="background-image: url(<%= news.banner.service_url %>)">
              </div>
            <% end %>
            <div>
              <div class="newsBadges">
                <span class="<%= news.news_type === 'Акция' ? 'type red' : 'type' %>"> <%= news.news_type %></span>
                <span class="published"><%= news.published_at.strftime('%d.%m.%Y') %></span>
              </div>
              <p class="title is-4"><%= news.title %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="column">
      <%= render 'partials/banner' %>
    </div>
  </div>

</div>
<br>
