<p id="notice"><%= notice %></p>

<% title @news.title %>
<% description @news.description %>

<% if @news.banner.attached? %>
  <% image @news.banner.service_url %>
<% end %>

<div class="container">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
    <%= render_breadcrumbs builder: Breadcrumbs::MicrodataBuilder %>
  </ol>
  <br />
  <br />
  <h1 class="title">Новости</h1>
</div>
<hr />

<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <% if @news.banner.attached? %>
        <div class="newsBanner">
          <%= image_tag @news.banner.service_url, lazy: true %>
        </div>
      <% end %>

      <div class="newsBadges" style="margin: 15px 0">
        <span class="<%= @news.news_type === 'Акция' ? 'type red' : 'type' %>"> <%= @news.news_type %></span>
        <span class="published"><%= @news.published_at.strftime('%d.%m.%Y') %></span>
      </div>

      <h1 class="title">
        <%= @news.title %>
      </h1>

      <div>
        <%= raw(@news.body) %>
      </div>
    </div>
    <div class="column">
      <%= render 'partials/banner', cached: true %>
    </div>
  </div>


<div class="spacer-medium"></div>
</div>
