<% title @page.title %>
<% description @page.description %>

<div class="container">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
    <%= render_breadcrumbs builder: MicrodataBreadcrumbs::Microdata::Builder %>
  </ol>
  <br />
  <br />
  <h1 class="title">Калькулятор объемов</h1>
</div>
<hr>

<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <%= raw(@page.body) %>
      <br>
      <%= render 'partials/calculator_capacity', cached: true %>
      <br>
      <br>
      <%= render 'partials/calculator_count', cached: true %>
      <br>
    </div>
    <div class="column">
      <%= render 'partials/banner', cached: true %>
    </div>
  </div>
</div>