<% description @page.description %>
<% title @page.title %>
<% keywords @page.keywords %>

<div class="container">
  <br />
  <br />
  <h1 class="title">Контакты</h1>
</div>
<hr />
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">

      <div class="columns">
        <div class="column">
          <ul class="contactList">
            <li>
              <%= image_tag 'pin.svg' %>
              <div>
                <%= raw(setting.address) %>
              </div>
            </li>
            <li>
              <%= image_tag 'phone.svg' %>
              <div><%= link_to setting.phone, "tel:#{setting.phone.delete(' ')}" %></div>
            </li>
            <li>
              <%= image_tag 'envelop.svg' %>
              <div>
                <%= link_to setting.email, "mailto:#{setting.email}" %>
              </div>
            </li>
            <li>
              <%= image_tag 'bank.svg' %>
              <div><%= setting.bank %></div>
            </li>
          </ul>
        </div>
        <div class="column">
          <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=53.839941%2C%2027.527785&key=<%= ENV['GOOGLE_MAP_API'] %>" allowfullscreen></iframe>
        </div>
      </div>

    </div>
    <div class="column">
      <%= render 'partials/banner', cached: true %>
    </div>
  </div>
  <p>
    <%= raw(@page.body) %>
  </p>
  <div class="spacer"></div>
</div>