<% description @page.description %>
<% title @page.title %>

<div class="container">
  <br />
  <br />
  <h1 class="title">Контакты</h1>
</div>
<hr />
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">

      <div class="columns">
        <div class="column">
          <ul class="contactList">
            <li>
              <%= image_tag 'pin.svg' %>
              <div>
                ООО «ТГ-палет», УНП 291604420
                225536, Брестская обл., Столинский р-н,
                Видиборский с/с, д.4,
                1,0 км юго-восточнее д.Видибор
              </div>
            </li>
            <li>
              <%= image_tag 'phone.svg' %>
              <div>+375 29 267 08 78, +375 29 267 08 78</div>
            </li>
            <li>
              <%= image_tag 'envelop.svg' %>
              <div>Tg.pallet@gmail.com</div>
            </li>
            <li>
              <%= image_tag 'bank.svg' %>
              <div>Р/с BY 05 PJCB 3012 0579 5610 0000 0933 в ОАО “Приорбанк” PJCBBY2X</div>
            </li>
          </ul>
        </div>
        <div class="column">
          <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=51.986669%2C%2026.791087&key=<%= ENV['GOOGLE_MAP_API'] %>" allowfullscreen></iframe>
        </div>
      </div>

    </div>
    <div class="column">
      <%= render 'partials/banner' %>
    </div>
  </div>
  <p>
    <%= raw(@page.body) %>
  </p>
  <div class="spacer"></div>
</div>