<div class="container">
  <br>
  <br>
  <h1 class="title">Корзина</h1>
</div>
<hr />

<div class="container">

  <div class="stepper">
    <div class="step active">
      <div class="circle">1</div>
      <!--      <div class="label">Step 1</div>-->
    </div>
    <div class="divider"></div>
    <div class="step">
      <div class="circle">2</div>
      <!--      <div class="label">Step 2</div>-->
    </div>
    <div class="divider"></div>
    <div class="step">
      <div class="circle">3</div>
      <!--      <div class="label">Step 3</div>-->
    </div>
  </div>

  <br>

  <div class="shopping-cart">
    <%= render "carts/shopping_cart" %>
  </div>

  <div class="spacer"></div>

  <%= simple_form_for @order_wizard, as: :order_wizard, url: validate_step_wizard_path do |f| %>
    <%= f.error_notification %>


    <%= hidden_field_tag :current_step, 'step1' %>

    <%= f.submit 'Далее', class: 'button green' %>
  <% end %>

  <br>

</div>


