<% if @order_items.size == 0 %>
  <p class="text-center">
    Корзина еще пуста! Пожалуйста, выберите нужные товары в  <%= link_to "каталоге", catalog_index_path %>.
  </p>
<% else %>



  <table class="table is-fullwidth productTable">
    <thead>
    <tr>
      <th>Наименование</th>
      <% cache @order_items.first.product.properties.order(:name).each do |prop| %>
        <th> <%= prop.name %></th>
      <% end %>
      <th>Стоимость</th>
      <th>Количество</th>
    </tr>
    </thead>
    <tbody>


    <% cache @order_items.each do |order_item| %>
      <tr>
        <td>
          <%= order_item.product.product_type.name %>
        </td>
        <% order_item.product.properties.order(:name).each do |property| %>
          <td><%= property.value %></td>
        <% end %>
        <td>
          <%= number_to_currency order_item.product.price, locale: :by %>
        </td>
        <td>
          <%= form_for order_item, remote: true do |f| %>
            <div class="productTableCart">
              <div class="quantity horiz">
                <button type="button"></button>
                <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1, max: 99999 %>
                <button type="button"></button>
              </div>
              <%= f.hidden_field :product_id, value: order_item.product.id %>
              <%#= f.submit "Обновить", class: "button" %>
              <%= button_tag(type: "submit", class: "button-refresh") do %>
                <%= image_tag 'refresh.svg', alt: 'Обновить' %>
              <% end %>
              <%= link_to '', order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "button-delete" } %>
            </div>
          <% end %>


          <%#= form_for order_item, remote: true do |f| %>
            <%#= f.hidden_field :product_id, value: order_item.product.id %>
<!--            <div class="productTableCart">-->
<!--              <div class="quantity horiz">-->
<!--                <button type="button"></button>-->
                <%#= f.number_field :quantity, min: 1, max: 1000 %>
<!--                <button type="button"></button>-->
<!--              </div>-->
              <%#= f.number_field :quantity, value: 1, min: 1 %>
              <%#= f.submit "В корзину", class: "button button-card" %>
<!--            </div>-->
          <%# end %>

        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <small class="is-pulled-right">* Пожалуйста, после обновления количества товара, нажмите на <%= image_tag 'refresh.svg', alt: 'Обновить' %> для подтверждения изменений!</small>
<% end %>