<% if params[:filter] == 'product' %>
  <% title "Каталог пиломатериалов по ценам от производителя" %>
  <% description "Брус, доска обрезная/необрезная/полуобрезная, горбыль в Минске. Опт и розница. Любые размеры. Доставка по Беларуси. Скидки от 20%! Качественное сырье." %>
<% else %>
  <% title "Услуги деревообработки в Минске по низким ценам" %>
  <% description "Услуги деревообработки в Минске. Распил на давальческом сырье. Распил по спецификациям заказчика. Антисептирование изделий. Доставка по Беларуси." %>
<% end %>
<% breadcrumb :catalog, current_page?('/catalog/service') %>

<br />

<div class="border-bottom">
  <div class="container">
    <div class="tabs catalogTabs">
      <ul>
        <li class=<%= !current_page?('/catalog/service') && 'is-active' %>><%= link_to 'Продукция', '/catalog/product' %></li>
        <li class=<%= current_page?('/catalog/service') && 'is-active' %>><%= link_to 'Услуги', '/catalog/service' %></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <% if current_page?('/catalog/service') %>
    <div class="serviceList">
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render "products/service_row", service: product %>
        <% end %>
      <% end %>
    </div>

    <% else %>
    <div class="columns is-multiline">
      <% @products.each do |product| %>
        <% cache product do %>
          <div class="column is-one-quarter">
            <%= render "products/product_card", product: product, order_item: @order_item %>
          </div>
        <% end %>
      <% end %>
    </div>
    <p><%= raw(@page.body).html_safe %></p>
  <% end %>

  <div class="spacer"></div>
</div>
