<% title @page.title %>
<% description @page.description %>
<% keywords @page.keywords %>

<div class="container">
  <%= render_breadcrumbs %>
</div>
<br />

<div class="border-bottom">
  <div class="container">
    <div class="tabs catalogTabs">
      <ul>
        <li class=<%= !current_page?('/catalog/service') && 'is-active' %>><%= link_to 'Продукция', '/catalog/product' %></li>
        <li class=<%= current_page?('/catalog/service') && 'is-active' %>><%= link_to 'Услуги', '/catalog/service' %></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <% if current_page?('/catalog/service') %>
    <div class="serviceList">
      <% @products.each do |product| %>
        <%= render "products/service_row", service: product %>
      <% end %>
    </div>

    <% else %>
    <div class="columns is-multiline">
      <% @products.each do |product| %>
        <div class="column is-one-quarter">
          <%= render "products/product_card", product: product, order_item: @order_item %>
        </div>
      <% end %>
    </div>
    <p><%= raw(@page.body) %></p>
  <% end %>

  <div class="spacer"></div>
</div>
