<% title @page.title %>
<% description @page.description %>

<div class="container">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
    <%= render_breadcrumbs builder: MicrodataBreadcrumbs::Microdata::Builder %>
  </ol>
  <br />
  <br />
  <h1 class="title">Вопросы и ответы</h1>
</div>
<hr />

<div class="container">
  <p><%= raw(@page.body).html_safe %></p>

  <section class="accordions">
    <% @faqs.each_with_index do |faq, index| %>
        <article class="accordion <%= index == 0 ? 'is-active' : '' %>">
          <div class="accordion-header toggle">
            <p><%= index+1 %>. <%= faq.question %></p>
          </div>
          <div class="accordion-body">
            <div class="accordion-content">
              <%= raw(faq.answer).html_safe %>
            </div>
          </div>
        </article>
    <% end %>
  </section>
</div>

<br>
<br>
<br>
