<% title @product_type.meta_title %>
<% description @product_type.meta_description %>

<% if @product_type.image.attached? %>
  <% image @product_type.image.service_url %>
<% end %>

<div class="container">
  <%= render_breadcrumbs %>
  <br>
  <br>
  <h1 class="title"><%= @product_type.name %></h1>
</div>
<hr />
<div class="container is-overflow-mobile" >
  <div class="columns">
    <div class="column is-one-quarter">
      <figure class="image is-square">
        <% if @product_type.image.attached? %>
          <%= image_tag @product_type.image.service_url, alt: @product_type.name %>
        <%else %>
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        <% end %>
      </figure>
    </div>
    <div class="column">
      <h3 class="title is-5">
        <%= @product_type.name %>
      </h3>
      <p>
        <%= raw(@product_type.description) %>
      </p>
    </div>
  </div>
  <% if @product_type.products.length > 0 %>
    <%= render 'partials/products_table', products: @product_type.products, order_item: @order_item %>
  <% end %>
  <p>
    <%= raw(@product_type.additional_text) %>
  </p>

  <div class="spacer-small"></div>
</div>