<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <%= favicon_link_tag asset_path('favicon.jpg') %>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%=  request.original_url %>" />
    <meta name="referrer" content="always" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="yandex-verification" content="db04aeb648203af5" />
    <meta name="google-site-verification" content="G7AQ1r858Ifua5vR7OlnHNAVu-nkpt_0w9UCgz8mq90" />

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="preconnect" href="https://maps.googleapis.com">
    <link rel="preconnect" href="https://maps.gstatic.com">

    <%= csrf_meta_tags %>

    <% if yield(:title).present? %>
      <title><%= yield(:title) %></title>
      <meta property="og:title" content="<%= yield(:title) %>" />
      <% else %>
        <title>Пиломатериалы от производителя в Минске оптом и в розницу по низким ценам</title>
        <meta property="og:title" content="Пиломатериалы от производителя в Минске оптом и в розницу по низким ценам" />
    <% end %>

    <% if yield(:description).present? %>
      <meta name="description" content="<%= yield(:description) %>" />
      <meta property="og:description" content="<%= yield(:description) %>" />
    <% end %>


    <% if yield(:image).present? %>
      <meta property="og:image" content="<%= yield(:image) %>" />
      <% else %>
      <meta property="og:image" content="<%= asset_path('favicon.jpg') %>" />
    <% end %>


    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "<%= ENV['GOOGLE_ANALYTICS_ID'] %>");
      </script>
    <% end %>

    <% if Rails.env.production? %>
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" async>
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
              m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

          ym(<%= ENV['YANDEX_METRIKA_ID'] %>, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
          });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/<%= ENV['YANDEX_METRIKA_ID'] %>" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    <% end %>

  </head>

  <body>
    <%= render 'partials/header' %>

    <main class="<%= current_page?(root_path) ? nil : 'withHeader'%>">
      <%= render 'partials/breadcrumbs' %>
      <%= yield %>
    </main>

    <%= render 'partials/footer', cached: true %>

    <%= render 'modals/about', cached: true %>

    <%= render 'modals/callback', cached: true %>

    <%= render 'modals/map', cached: true %>

    <%= render 'modals/success', cached: true %>


    <%= javascript_include_tag 'application' %>
  </body>

</html>
