<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%=  request.original_url %>" />
    <meta name="referrer" content="always">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>

    <% if yield(:title).present? %>
      <title>СолидВуд - <%= yield(:title) %></title>
      <meta property="og:title" content="СолидВуд - <%= yield(:title) %>" />
      <% else %>
        <title>СолидВуд - пиломатериалы от производителя</title>
        <meta property="og:title" content="СолидВуд - пиломатериалы от производителя" />
    <% end %>

    <% if yield(:description).present? %>
      <meta name="description" content="<%= yield(:description) %>" />
      <meta property="og:description" content="<%= yield(:description) %>" />
    <% end %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/header' %>

    <%#= render_breadcrumbs :separator => ' / ' %>

    <main class="<%= current_page?(root_path) ? nil : 'withHeader'%>">
      <%= yield %>
    </main>

    <%= render 'partials/footer' %>

    <%= render 'modals/about' %>

    <%= render 'modals/callback' %>

    <%= render 'modals/map' %>

    <%= render 'modals/success' %>


  </body>
</html>
